---
title: Substeps - Open Source BDD Framework!
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>

    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__link"><a href="/introduction/overview/">Documentation</a></li>
            <li class="nav__link"><a href="/introduction/getting-started/">Getting started</a></li>
            <li class="nav__link"><a href="https://github.com/Substeps/substeps-framework">Fork me</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <div class="jumbotron jumbotron--home">

                <h1 class="title"><span class="bold dark-blue">Sub</span>steps</h1>

                <p class="subtitle">An open source BDD framework</p>

                <div class="logo">
                    <svg width="261px" height="251px" viewBox="0 0 261 251" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch -->
                        <title>Path</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1"  stroke-width="1" fill="none" fill-rule="evenodd">
                             <polygon id="path" stroke="#009ADD" points="1.265625 250.039062 1.265625 125.055234 130.629541 125.055234 130.629541 0.542440641 260.572293 0.542440641"></polygon>

                             
<!--						this is the polyline with the correct stroke colour to the fill - don't know how it can be animated though..
							<polyline class="path" fill="none" stroke="#009ADD" points="1.265625 250.039062 1.265625 125.055234 130.629541 125.055234"/>
 							<polyline class="path" fill="none" stroke="#003E7F" points="130.629541 125.055234 130.629541 0.542440641 260.572293 0.542440641"/>
 							<polyline class="path" fill="none" stroke="#003E7F" points="260.572293 0.542440641 130.629541 125.055234"/>
 							<polyline class="path" fill="none" stroke="#009ADD" points="130.629541 125.055234 1.265625 250.039062"/>
-->

                        </g>
                    </svg>
                    <svg class="filler" width="260px" height="250px" viewBox="0 0 260 250" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch -->
                        <title>Path</title>
                        <desc>Created with Sketch.</desc>
                        <defs>

                        	<linearGradient x1="0%" y1="100%" x2="100%" y2="0%" id="linearGradient-1">
                                <stop stop-color="#009ADD" offset="0%"></stop>
                                <stop stop-color="#009ADD" offset="30%"></stop>
  								<stop stop-color="#003E7F" offset="70%"></stop>
                                <stop stop-color="#003E7F" offset="100%"></stop>
                            </linearGradient>

                        </defs>
                        <g id="Page-1" stroke="#009ADD" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon id="path1" fill="url(#linearGradient-1)" points="0.265625 250.039062 0.265625 125.055234 129.629541 125.055234 129.629541 0.542440641 259.572293 0.542440641"></polygon>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>




    <div class="row about">
        <div class="container">
            <div class="col-lg-8">
                <h2>About</h2>

                <p>Substeps is a BDD framework designed specifically to enable non-technical folk to write, implement and execute functional tests with limited support from developers.</p>

                <a class="button button--white" href="/introduction/overview/">Go to the docs</a>
            </div>
        </div>
    </div>

    <div class="row started">
        <div class="container">
            <div class="col-lg-8">
                <h2>Getting Started</h2>

                <p>Discover how you can quickly get up and running by using the sample project.</p>

                <a class="button button--blue" href="/introduction/getting-started/">Getting started</a>
            </div>
        </div>
    </div>


    </div>

    {% include footer.html %}

</body>

</html>
