---
title: Substeps - Open Source BDD Framework!
---

<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %} 
</head>
<body>


<div class="container">
	<div class="row">
			<div class="col-lg-12">
				<div class="bs-component">			
                  <div class="jumbotron">

                      <span style="font-size: 100px">Substeps</span>

                      <p>An open source BDD framework</p>
                  </div>
				</div>
			</div>
	</div>

  <div class="row">
    <div class="col-lg-12">

        <p class="text-center">
        <a class="btn btn-primary btn-lg" href="/introduction/getting-started/">Getting started</a>

      <a class="btn btn-primary btn-lg" href="/introduction/overview/">Docs</a>
        </p>
    </div>
  </div>

    <div class="row">
        <div class="col-lg-12">
            <p class="text-center">
              <span>This site and docs are in progress!</span>
            </p>
            <p class="text-center">
                <span style="font-size: small">Whilst this site and these docs are in progress, the <a href="http://substeps.g2g3.digital/index.html">original</a> Technophobia / G2G3 site may be of use</span>
            </p>
        </div>
    </div>


</div>

{% include footer.html %}

</body>
</html>