<!-- this is in a col-sm-3 -->

<div id="doc-tree">
  <ul class="dosc-sidebar">
    <li>

      <label>Introduction</label>

      <ul >
        <li><a href="/introduction/overview/">Overview</a></li>
        <li><a href="/introduction/getting-started/">Getting started</a></li>
          <li><a href="/introduction/configuration/">Configuration</a></li>
          <li><a href="/introduction/customisation/">Customisation</a></li>

          <!-- <li><a href="/introduction/intellij-integration/">IntelliJ Integration</a></li>
           <li><a href="/introduction/manual-setup/">Manual setup</a></li>

           <li><a href="/introduction/ci-integration/">CI</a></li>-->
      </ul>
    </li>


    <li>
      <label >Project Information</label>

          <ul >
            <li><a href="/introduction/project-info/support/">Support</a></li>
            <li><a href="/introduction/project-info/history/">History</a></li>
            <li><a href="/introduction/project-info/license/">License</a></li>
          </ul>
    </li>


    <li>
      <label >Webdriver StepImplementations</label>
      <ul >
            <li><a href="/webdriver/introduction/">Introduction</a></li>
            <li><a href="/webdriver/step-implementations/">Step implementations</a></li>
            <li><a href="/webdriver/hints-and-tips/">Hints and tips</a></li>

          </ul>

    </li>
  </ul>
</div><!-- /#docs-tree -->
